EMAIL=youremail
PASSWORD=yourpassword
ORG_ID=organizationid
APP_BASE_URL=baseurl
DEVELOPER_HUB_API=developerhub-api.contentstack.com
ENV_URL=https://eu-app.contentstack.com //this is for eu region
BASE_API_URL=eu-api.contentstack.com //this is for eu region
